<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>
<body>
<%= htmlWebpackPlugin.options.widgets.header %>
<main class="main">
  <%= htmlWebpackPlugin.options.widgets.intro %>
  <%= htmlWebpackPlugin.options.widgets.info %>
  <%= htmlWebpackPlugin.options.widgets.tournaments %>
  <%= htmlWebpackPlugin.options.widgets.hall %>
</main>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.modal %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
