.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 53px;
  padding-top: 160px;
  padding-bottom: 190px;
  
  @include r($desktop) {
    padding-top: 110px;
    padding-bottom: 80px;
  }
  
  @include r($mobile) {
    padding-top: 60px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 474px 1fr;
    gap: 32px;
    width: 100%;
    
    @include r($desktop) {
      display: flex;
      flex-direction: column
    }
  }

  &__map {
    display: flex;
    width: 100%;
    
    @include r($desktop) {
      height: 400px;
    }
    
    @include r($mobile) {
      height: 130px;
    }

    iframe {
      display: flex;
      width: 100%;
      height: 100%;
      border: none;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: $camed;
    @include r($desktop) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    
    @include r($mobile) {
      gap: 20px;
    }
  }

  &__address {
    font-size: 32px;
    font-weight: 500;
    line-height: 44px;
    
    @include r($desktop) {
      width: 100%;
      font-size: 24px;
      line-height: 33px;
    }
    
    @include r($mobile) {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__text,
  &__item {
    font-size: 32px;
    font-weight: 300;
    line-height: 44px;
    
    @include r($desktop) {
      font-size: 24px;
      line-height: 33px;
    }
    
    @include r($mobile) {
      font-size: 14px;
      line-height: 19px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 5px;

    svg {
      display: flex;
      width: 32px;
      height: 32px;
      
      @include r($mobile) {
        width: 14px;
        height: 14px;
      }
    }
  }

  &__meta {
    display: flex;
    flex-direction: column;
    gap: 30px;
    
    @include r($desktop) {
      gap: 0;
      justify-content: space-between;
    }
    
    @include r($mobile) {
      gap: 10px;
    }
  }

  &__link {
    font-size: 32px;
    font-weight: 500;
    line-height: 44px;
    
    @include r($desktop) {
      font-size: 24px;
      line-height: 33px;
    }
    
    @include r($mobile) {
      font-size: 16px;
      font-weight: 500;
      line-height: 22px;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 44px;
  }

  &__social svg {
    display: flex;
    width: 60px;
    height: 60px;
    
    @include r($desktop) {
      width: 40px;
      height: 40px;
    }
    
    @include r($mobile) {
      width: 24px;
      height: 24px;
    }
  }
}
