.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 20px;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  border-radius: 8px;
  transition: .2s linear;
  cursor: pointer;

  &--circle {
    padding: 18px 20px;
    border: 1px solid $light-wood;
    border-radius: 32px;
  }
  
  &--link {
    padding: 10px 20px;
    background-color: $green;
    border: none;
    border-radius: 10px;
    
    &:hover {
      background-color: $light-wood;
      color: $camed;
    }
  }
  
  &--accent {
    background-color: $green;
    border: none;
    &:hover {
      background-color: $light-wood;
      color: $camed;
    }
  }
  
  &--brown {
    background-color: $copper;
    color: $camed;
  }
  
  &--animate {
    position: relative;
    overflow: hidden;
    span {
      position: relative;
      z-index: 3;
    }
    &--balls {
      &:hover {
        padding-right: 60px;
        &::before {
          animation: ballMove .5s ease-in-out;
        }
        &::after {
          right: 0;
        }
      }
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: -100%;
        display: flex;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        background-color: $light-wood;
        transform: translateY(-50%);
        z-index: 1;
      }
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: -100%;
        display: flex;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        background-color: $dark-green;
        transform: translateY(-50%);
        z-index: 0;
        transition: .2s linear;
      }
    }
  }
  
  &--small {
    padding: 9px 20px;
    border-radius: 4px;
    background-color: $camed;
    color: $light-wood;
  }
}

@keyframes ballMove {
  from {
    left: 0;
  }
  
  to {
    left: 85%;
  }
}
