.features {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  width: 100%;
  margin-top: -46px;
  padding: 50px 0 112px;
  background-color: $light-wood;
  box-shadow: 0px -12px 30px 0px #4D90781F, 0px 54px 55px 0px #4D907840;
  border-radius: 10px;
  overflow: hidden;
  
  @include r($desktop) {
    padding-bottom: 30px;
  }
  
  @include r($tablet) {
    padding: 30px 0;
    gap: 30px;
  }
  
  @include r($mobile) {
    padding: 20px;
    margin-top: -26px;
  }
  
  &__title {
    font-size: 32px;
    line-height: 44px;
    color: $camed;
    @include r($desktop) {
      font-size: 24px;
      line-height: 24px;
    }
  }
  
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1024px;
    
    @include r($desktop) {
      max-width: 592px;
    }
    
    @include r($tablet) {
      max-width: 448px;
    }
    
    @include r($mobile) {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }
  }
  
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  &__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 24px;
    font-weight: 300;
    line-height: 33px;
    text-align: center;
    color: $camed;
    
    @include r($desktop) {
      font-size: 14px;
      line-height: 19px;
    }
    
    span {
      font-weight: 400;
      
      @include r($desktop) {
        font-size: 18px;
        line-height: 24px;
      }
    }
  }
  
  &__picture {
    @include r($desktop) {
      width: 50px;
      height: 50px;
    }
  }
  
  &__decor {
    pointer-events: none;
    position: absolute;
    left: -30%;
    bottom: -10%;
    
    &:last-of-type {
      left: initial;
      bottom: initial;
      right: -20%;
      top: -40%;
      transform: rotate(180deg);
      @include r($desktop) {
        right: -17%;
        top: -20%;
      }
      @include r($mobile) {
        right: -22%;
        top: 62px;
      }
    }
    
    @include r($desktop) {
      width: 300px;
      left: -20%;
      bottom: -20%;
    }
    
    @include r($mobile) {
      width: 124px;
      left: -22%;
      bottom: 0;
    }
  }
}
