.header--invert {
  .nav {
    color: $camed;
  }
  .burger {
    &::before,
    &::after,
    &__item {
      background-color: $camed;
    }
  }
  .mobile-menu {
    background-color: $light-wood;
  }
}
