@font-face {
  font-family: 'VelaSans';
  src: url('./assets/fonts/VelaSans-Light.woff2') format('woff2'),
  url('./assets/fonts/VelaSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'VelaSans';
  src: url('./assets/fonts/VelaSans-Regular.woff2') format('woff2'),
  url('./assets/fonts/VelaSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GlockGrotesque';
  src: url('./assets/fonts/GlockGrotesque-Medium.woff2') format('woff2'),
  url('./assets/fonts/GlockGrotesque-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
