$green: #4D9078;
$dark-green: #091E05;
$light-wood: #E8E2D8;
$copper: #A45640;
$camed: #262523;
$black: #000;
$light: #fff;

$font-main: 'VelaSans', sans-serif;
$font-accent: 'GlockGrotesque', sans-serif;

$desktop: 1366;
$tablet: 1133;
$mobile: 744;
