.link {
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  text-decoration: underline;
  transition: .2s linear;
  
  @include r($desktop) {
    font-size: 16px;
    line-height: 22px;
  }
  
  &:hover {
    text-decoration: none;
  }
  
  &--align-left {
    text-align: left;
  }
}
