.intro {
  position: relative;
  padding-top: 160px;
  padding-bottom: 100px;
  max-height: 1038px;
  z-index: 1;
  
  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 56px;
  }
  
  &__picture {
    margin-bottom: 50px;
  }
  
  &__link {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
