.container {
    width: 100%;
    max-width: 1256px;
    padding: 0 20px;
    margin: 0 auto;
    
    @include r($desktop) {
        max-width: 840px;
    }
    
    @include r($tablet) {
        max-width: 680px;
        padding: 0 15px;
    }
}
