.article-event {
  display: flex;
  flex-direction: column;

  &:hover {
    .article-event__picture {
      filter: grayscale(0);
    }
  }

  &--big {
    .article-event__picture {
      width: auto;
      height: auto;
      max-height: 714px;
      filter: grayscale(0);
      @include r($desktop) {
        height: 550px;
      }
      @include r($mobile) {
        height: 250px;
      }
    }
  }

  &__picture {
    position: relative;
    display: flex;
    margin-bottom: 10px;
    width: 384px;
    height: 576px;
    border-radius: 8px;
    overflow: hidden;
    filter: grayscale(100%);
    transition: filter .2s linear;
    
    @include r($desktop) {
      height: 550px;
      margin-bottom: 30px;
    }
    @include r($tablet) {
      width: auto;
    }
    @include r($mobile) {
      height: 400px;
      margin-bottom: 20px;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: center;
      pointer-events: none;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    
    @include r($mobile) {
      gap: 20px;
    }
  }

  &__time {
    font-size: 24px;
    font-weight: 300;
    color: $camed;
    
    @include r($desktop) {
      font-size: 16px;
    }

    &--big {
      font-size: 40px;
      font-weight: 600;
      color: $light-wood;
      
      @include r($desktop) {
        font-weight: 400;
      }
      
      @include r($mobile) {
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
      }
    }
  }

  &__date {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    time {
      padding-right: 42px;
      
      @include r($mobile) {
        padding-right: 10px;
      }
    }
  }

  &__icon {
    display: flex;
    width: 42px;
    height: 36px;
    
    @include r($mobile) {
      width: 24px;
      height: 20px;
    }
  }

  &__title {
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 300;
    color: $copper;
    
    @include r($desktop) {
      margin-bottom: 0;
      font-size: 18px;
    }
  }
}
